body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  margin: 0;
  background: url(https://source.unsplash.com/random?nature);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: sans-serif;
  font-size: 120%;
  transition: all 0.3s ease-in-out;
}

.card {
  background: #000000d2;
  color: floralwhite;
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  max-width: 400px;
  margin: 2em;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-btn {
  font-size: 1.5em;
  font-weight: bolder;
  color: floralwhite;
}

button {
  width: 43px;
  height: 43px;
  margin: 0.5em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  background: #7c7c7c2b;
  border: none;
  cursor: pointer;
}

button:hover,
.search-bar:hover {
  background: #7c7c7c6b;
  transition: 0.2s ease-in-out;
}

.search-bar {
  outline: none;
  border: none;
  padding: 0.5em 1em;
  border-radius: 21px;
  background: #7c7c7c2b;
  color: floralwhite;
  font-family: inherit;
  font-size: 20px;
  width: calc(100% - 80px);
}

.search-bar::placeholder {
  color: #b4b4b4;
}

.temp {
  margin: 0;
  margin-bottom: 20px;
  font-size: 3rem;
  font-weight: normal;
}

.description {
  text-transform: capitalize;
  margin-left: 10px;
}

.description,
.humidity,
.wind {
  font-size: 120%;
  margin: 5px 0;
}

.flex {
  display: flex;
  align-items: center;
}
